body {
    font-family: Roboto;
    padding-top: 25px;
    /*background-color: #f1f1f1;*/
    background-color: #f5f8fa;
    font-size: 12px;
    margin: 30px auto;
}

.name {
    position: absolute;
    right: 18px;
}

/*navigations*/
nav {
    font-size: 125%;
    background-color: #fff;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    top: 0px;
    border-bottom: thin solid;
    z-index: 1;
}

nav ul {
    padding-left: 0;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
    padding-left: 15px;
}

nav a:link,
nav a:visited {
    color: #ff2c1a;
}

nav a:hover,
nav a:focus {
    color: #8b8b8b;
    text-decoration: none;
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.nav-placeholder {
    display: none;
}

/*Main Dynamic Content*/
#content {
    background: white;
    padding: inherit;
    border-radius: 6px;
    border: thin solid #9FA1A2;
}

#videosection {
    display: inline-block;
    /*position: relative;*/
    margin: 10px auto;

}

#deletebutton {
    position: absolute;
    right: 10px;
    top: 10px;
}

/*#deletebutton:hover {*/
    /*display: block;*/
/*}*/

.titlepage {
    text-align: center;
    border-bottom: thin solid;
}

#listtag {
    text-align: center;
}